<nav id="navbar">
	<ul id="menu-demo2">
		<li class="li-text"><a href="/">⇃ Accueil ⇂ </a>
			<ul>
				<li class="li-text"><a href="/forum">Forum</a></li>
				<li class="li-text"><a href="/ticket">Ticket</a></li>
				<li class="li-text"><a href="/faq">FAQ</a></li>
			</ul>
		</li>
		<li class="li-text"><a href="/rechercher">Rechercher</a></li>
		<li id="li-logo">
			<a id="a-logo" href="/">
				<img id="img-logo" src="/assets/img/logo.png" alt="logo">
			</a>
		</li>
		<li class="li-text"><a href="/admin">Tableau de bord</a></li>
		<li class="li-text"><a href="/moncompte">Mon Compte</a></li>
		<li class="li-text"><a href="/deconnexion">Deconnexion</a></li>
	</ul>
</nav>
