.urlavatar {
	width: 4vh;
	height: 4vh;
	border-radius: 50%;
}
.message-container {
	padding-top: 0.5%;
}

.message {
	font-size: 1.5vw;
	padding-left: 2%;
}

.message-line {
	/* vertical-align: baseline; */
	display: flex;
  align-items:center;
	padding: 0;
}

.message-line p {
	padding-left: 2%;
}

#message-form {
	padding-left: 2%;
}

#message {
	margin-left: 2%;
	width: 80%;
	height: 5%;
	font-size: 1.5vw;
}

.button {
  border-radius: 4px;
  background-color: #69D2E7;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.5vh;
  padding: 1%;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button-more {
  /* les liens et item deviennent des blocs */
  /* suffit théoriquement à virer les puces de liste */
  /* display: block; */
}

/* styles des liens */
.button-more {
  margin: 1px 0; /* espace les liens d'1 px */
  padding: 8px 20px; /* marges internes pour aérer */
  color: #666;
  background: #FFF;
  text-decoration: none; /* on vire le soulignement */

  /* on définit la transition pour les navigateurs */
  -webkit-transition: all .3s; /* Chrome/Safari */
  -moz-transition: all .3s; /* Firefox (plus trop nécessaire) */
  transition: all .3s; /* syntaxe officielle */
	display: none;
}

/* styles changeants au survol et focus */
.button-more:hover,
.button-more:focus {
  background: #69D2E7;
  color: #FFF;
  padding-left: 30px; /* décalage du contenu de 10px vers la droite (30-20 = 10) */
}

.button-del {
	/* display: none; */
	/* visibility: hidden; */
	opacity: 0;
	background:transparent;
	border:transparent;
	font-size: 1vh;
}

.message:hover > .button-del {
	/* display: visibility; */
	/* display: block; */
	opacity: 1;
}

.button-del:hover,
.button-del:focus {
	/* display: none; */
	/* visibility: hidden; */
  color: #69D2E7;
	font-size: 1.5vh;
  color: #666;
  text-decoration: none; /* on vire le soulignement */

  /* on définit la transition pour les navigateurs */
  -webkit-transition: all .3s; /* Chrome/Safari */
  -moz-transition: all .3s; /* Firefox (plus trop nécessaire) */
  transition: all .3s; /* syntaxe officielle */

}
