.user .card 
{
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  border: solid 6px #A7DBDB;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  width: 350px;

}

.user .title
 {
  color: grey;
  font-size: 18px;
}

.user .mail
{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  color: blue;
  width: 100%;
}

.user a
 {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.user .mail:hover, a:hover 
{
  opacity: 0.7;
}

.blockex
{
  width:40%;
  height: 70%;
  background-color: #045a68;
  margin-left: auto;
  margin-right: auto;
}

.exercices

{
  border:3px #A7DBDB outset;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 47.15%;
  width: 45%;
  margin-top: 0%;
  margin-right: 1%;
  margin-bottom: 1%;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
.blocks
{
  display: flex;
  flex-direction: row;
  height: 200px;
  margin-top: 15%;

}
.centre
{
  
  position: absolute;
  top: 197px;
  left: 50%;
  width: 350px;
  margin-left:2px;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

#eff
{
  border:3px #A7DBDB outset;
  position: absolute;
  top: 110px;
  left: 50%;
  width: 350px;
  display: flex;
  width: 46%;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
