
#titre_principal
{
    display: flex;
    flex-direction: column;
}

#logo
{
    border: 1px solid #ddd;
    flex-direction: row;
    align-items: baseline;
    height: 50px;
}

nav {
    margin-bottom: 20%;
}

nav ul
{
    list-style: none outside none;
    margin:0;
    padding: 0;
    text-align: center;
}

nav li
{
    margin: 0 10px;
    display: inline;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a.item:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

nav > ul >li{
    float: left;
}

nav li{
    list-style-type: none;
}

.submenu{
    display: none;
}