
#titre_principal
{
    display: flex;
    flex-direction: column;
}

#logo
{
    border: 1px solid #ddd;
    flex-direction: row;
    align-items: baseline;
    height: 50px;
}

nav {
    margin-bottom: 10px;
}

nav ul
{
    list-style: none outside none;
    margin:0;
    padding: 0;
    text-align: center;
}

nav li
{
    margin: 0 10px;
    display: inline;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a.item:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#menu-deroulant {
    /* on centre le menu dans la page */
    text-align: left;
}

#menu-deroulant li {
    /* on place les liens du menu horizontalement */
    display: inline-block;
}

#menu-deroulant ul li {
    /* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
    background-color: #E0E4CC;
    padding-top: 10px;
}

#menu-deroulant a {
    text-decoration: none;
    display: block;
    color:#000;
}

#menu-deroulant ul {
    position: absolute;
    /* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
    z-index: 1000;
}

#menu-deroulant li:hover ul {
    /* Au survol des li du menu on replace les sous menus */
    left: 1.1%;
}

.conteneur {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    list-style-type: none;
    position: relative;
}

.element:nth-child(1) {
    padding: 5px;
    background-color: #E0E4CC;
    text-decoration: none;
    flex: 1;
    border: solid white 10px;
}

.element {
    padding: 5px;
    background-color: #E0E4CC;
    text-decoration: none;
    border: solid white 10px;
}