#rememberme {
    margin-bottom: 15px;
}

form {
    border: 3px solid #f1f1f1;
}
.container>*{
    display: block;
    margin-top:5px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}
div.signin input[type=email], div.signin input[type=password] {
    width: 20%;
    padding: 10px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.container
{
    vertical-align: bottom;
    text-align: center;
    
    margin-left: 25%;
    margin-top:2%;
    margin-bottom: 15%;
    border-radius: 15px;
    
    background:linear-gradient(90deg,white,#A7DBD8,#36c0ee,#045a68);
    justify-content: space-between;
    position: absolute;
    top: 0px;
    left: 150px;
    width: 350px;
    padding-bottom: 10px;
}
