#rememberme {
    margin-bottom: 15px;
}

form {
    border: 3px solid #f1f1f1;
}
.container>*{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}
div.signin input[type=email], div.signin input[type=password] {
    width: 20%;
    padding: 10px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
