<link type="text/css" rel="stylesheet" href="assets/css/alert.css">

{% if alert %}
<div style="background-color: #f44336; padding: 20px; color: white; margin-bottom: 15px" class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
	{{ alert }}
</div>
{% endif %}

{% if danger %}
<div style="background-color: #f8d7da; padding: 20px; color: white; margin-bottom: 15px" class="alert">
	<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
	{{ danger }}
</div>
{% endif %}

{% if success %}
<div style="background-color: #d4edda; padding: 20px; color: white; margin-bottom: 15px" class="alert">
	<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
	{{ success }}
</div>

{% elseif warning %}
<div style="background-color: #fff3cd; padding: 20px; color: white; margin-bottom: 15px" class="alert">
	<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
	{{ warning }}
</div>
{% elseif primary %}
<div style="background-color: #cce5ff; padding: 20px; color: white; margin-bottom: 15px" class="alert">
	<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
	{{ primary }}
</div>
{% elseif secondary %}
<div style="background-color: #e2e3e5; padding: 20px; color: white; margin-bottom: 15px" class="alert">
	<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
	{{ secondary }}
</div>
{% elseif info %}
<div style="background-color: #d1ecf1; padding: 20px; color: white; margin-bottom: 15px" class="alert">
	<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
	{{ info }}
</div>
{% elseif light %}
<div style="background-color: #fefefe; padding: 20px; color: white; margin-bottom: 15px" class="alert">
	<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
	{{ light }}
</div>
{% elseif dark %}
<div style="background-color: #d6d8d9; padding: 20px; color: white; margin-bottom: 15px" class="alert">
	<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
	{{ dark }}
</div>
{% endif %}
