{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/assets/css/connection.css" />
<script src="/assets/js/connection.js"></script>
<div class="signin">
    <form action="" method="post">
        <div class="center">
            <img src="/assets/img/logo.png" alt="logo" class="logo-big">
        </div>

        <div class="container">
            <label for="mail"><input type="email" name="mail" placeholder="Entrez votre adresse mail" id="mail" required></label>

            <br>
            <label for="password"><input type="password" name="password" placeholder="Entrez votre mot de passe" id="password" required></label>
            <!--
            <br>
            <label for="rememberme">
                <input type="checkbox" checked="checked" id="rememberme"> Se souvenir de moi
            </label>
            -->
            <button type="submit" class="btn">Se connecter</button>

        </div>


    </form>

    <div class="container">
        <button type="button" class="btn" onclick="window.location.href = '/inscription';" >S'inscrire</button>
        <!-- On ne met pas le bouton mdp oublié pour l'instant-->
        <!--
        <button type="button" onclick="forgottenPassword()">Mot de passe oublié ?</button>
        -->
    </div>

    <script>
        alert_message="{{alert_message}}";
        if (alert_message!==""){
            alert(alert_message);
        }
    </script>

</div>
{% endblock %}
