{% extends "layout.html" %}
{% block style %}
	<link rel = "stylesheet" href = "/assets/css/stylecontact.css"/>
{% endblock style %}
{% block content %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	<div id="pagecontact">
		<!--
		<section class="gauche">
			<div class="cadre">
				<h1>Contactez un administrateur par messagerie interne</h1>
					<form action="" method="post">
		<label for = "ask"> Dîtes-nous tout:</label><br>
		<textarea cols="60" rows="17" name="message" id="ask"></textarea>

	<div class = "buttons">
		<button type="submit" class ="button">Envoyer</button>

	</div>
					</form>
			</div>
		</section>
		-->
		<section class="droite">
			<div class="cadre">
				<h1>Contactez un administrateur par courrier électronique</h1>

				<div class="petitcadre">
					<p> Pour toute question, vous pouvez également nous contacter par email. Un membre de notre équipe vous répondra dans les plus brefs délais. </p>


					<div class="boutonmailto">
						<a href="mailto:{{mail}}">
							<div class ="mailto">Contactez-nous !</div>
						</a>

					</div>

					<form action="" method="post">

						<label for="name-mail">Votre nom :</label>
						<input type="text" name="name-mail" maxlength="100" placeholder="Votre nom" id="name-mail" required>
						<br>

						<label for="topic-message">Objet de votre message :</label>
						<input type="text" name="topic-message" maxlength="100" placeholder="Objet du message" id="topic-message" required>
						<br>

						<label for = "message-mail">Votre message :</label><br>
						<textarea name="message-mail" id="message-mail" required></textarea>
						<div class="g-recaptcha" data-sitekey="6LfaqQcaAAAAAET55-9GYdOzE7dKZAuEaNxROBvp"></div>
						<button type="submit" class="button">Envoyer le mail</button>

					</form>
				</div>
			</div>
		</section>
	</div>


	{% endblock content %}
