{% extends "layout.html" %}

{% block style %}
	<link rel = "stylesheet" href = "/assets/css/exercise.css"/>
{% endblock style %}

{% block content %}
<script src="/assets/js/exercise.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
<input id="results" name="results" type="hidden" value="{{results|raw}}">
<input id="data" name="data" type="hidden" value="{{data|raw}}">



	<div id="pageex">
		<section class="centre">
			<div class="exercices">
				<h1 class="titreexercices">Exercice [{{name}}] - {{grade}} %</h1>
				<p>Description : {{description}}</p>
				<p>Réalisé le {{created}} par {{owner_name}}</p>
				<canvas id="myChart" width="400" height="200"></canvas>
			</div>

		</section>

	</div>

{% endblock content %}
