{% extends "layout.html" %}

{% block style %}
	<link rel = "stylesheet" href = "/assets/css/exercise.css"/>
{% endblock style %}

{% block content %}
	<div id="pageex">

		<section class="centre">
			{% if exercises is empty %}
			<h1>Vous n'avez pas réalisé d'exercices pour l'instant</h1>
			{% endif %}

			{% for exercise in exercises %}

			<div class="exercices">
				<a href ="/exercice/{{exercise.id}}">
				<h1 class="titreexercices">Exercice [{{exercise.name}}]  - {{exercise.grade}}%</h1>
				</a>
				<div class="blocks">
					<div class="blockex">
						<p>Réalisé le {{exercise.date}}</p>
						<p>Durée : {{exercise.duration}} sec</p>
					</div>
					<div class="blockex">
						<p>Description : {{exercise.description}}</p>
					</div>
				</div>

			</div>

			{% endfor %}

		</section>
	</div>

{% endblock content %}
