{% extends "layout.html" %}

{% block style %}
	<link rel = "stylesheet" href = "/assets/css/styleexercise.css"/>
{% endblock style %}

{% block content %}
	<div id="pageex">
		<div id="sidebarex">
			<center>
			<div class="articlesex">

				<div class="ARex"> <a href = "#"></a>
					<h1 class="titre">Article récent 1</h1>
					<div class = "insideex"></div>
						<div class="boiteex"></div>
				</div>
				<div class="ARex"> <a href = "#"></a>
					<h1 class="titre">Article récent 2</h1>
					<div class = "insideex"></div>
						<div class="boiteex"></div>
				</div>
				<div class="ARex"> <a href = "#"></a>
					<h1 class="titre">Article récent 3</h1>
					<div class = "insideex"></div>
						<div class="boiteex"></div>
				</div>


			</div>
			</center>

		</div>
		<section class="centre">
			<div class="exercices"><a href ="#"></a>
				<h1 class="titreexercices">Exercice 1 - 85%</h1>
				<div class="blocks">
					<div class="blockex"></div>
					<div class="blockex"></div></div>
				</div>
			<div class="exercices"><a href ="#"></a>
				<h1 class="titreexercices">Exercice 2 - 67%</h1>
				<div class="blocks">
					<div class="blockex"></div>
					<div class="blockex"></div></div>
					</div>
			<div class="exercices"><a href ="#"></a>
				<h1 class="titreexercices">Exercice 3 - 18%</h1>
				<div class="blocks">
					<div class="blockex"></div>
					<div class="blockex"></div></div>
				</div>
			<div class="exercices"><a href ="#"></a>
				<h1 class="titreexercices">Exercice 4 - 2%</h1>
				<div class="blocks">
					<div class="blockex"></div>
					<div class="blockex"></div></div>
				</div>
			</div>

		</section>

	</div>
{% endblock content %}
