{% extends "layout.html" %}

{% block content %}
<!--https://red-team-design.developpez.com/tutoriels/css/page-faq-css3/-->
<link rel="stylesheet" type="text/css" href="/assets/css/faq.css" />

<div id="bloc-page" class="main">

    <div class="faq-section">
        <h1>Foire Aux Questions</h1>

        {% for question in faq %}
        <div class="question">
            <input type="checkbox" id="q{{question.id}}">
            <label for="q{{question.id}}">{{question.question}}</label>
            <p>{{question.answer}}</p>

        </div>
        {% endfor %}


    </div>
</div>

{% endblock %}
