{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/assets/css/connection.css" />
<script src="/assets/js/forgottenPassword.js"></script>
<div class="signin">
    <form action="" method="post">
        <div class="center">
            <img src="/assets/img/logo.png" alt="logo" class="logo-big">
        </div>

        <div class="container">
            <label for="mail"><input type="email" name="mail" placeholder="Entrez votre adresse mail" id="mail" required></label>

            <button type="submit" class="btn">Réinitialiser</button>

        </div>



    </form>

    <script>
        alert_message="{{alert_message}}";
        if (alert_message!==""){
            alert(alert_message);
        }
    </script>

</div>
{% endblock %}
