{% extends "layout.html" %}

{% block style %}
<link href="/assets/css/forum-subject.css" rel="stylesheet">
<link href="/assets/css/forum.css" rel="stylesheet">
{% endblock style %}

{% block content %}
<div class="container">
	<h1 id="title">{{subject.title}}</h1>
	<hr>
	<h3>Description:</h3>
	<div style="margin: 2%">
		<h4 id="description">{{subject.description}}</h4>
	</div>
	<p id="meta">Auteur: {{subject.user.firstname}} {{subject.user.lastname}} le {{subject.created}} et modifié le {{subject.updated}}</p>
	<br/><br/>


	<div class="message-container">
		{% for message in messages %}
		<div class="message">
			<img src="{{message.user.urlavatar}}"></img>
			<p>{{message.message}}</p>
			<small>de {{message.user.firstname}} {{message.user.lastname}} à {{message.created}}</small>
		</div>
		<br/>
		{% endfor %}
		<form method="post" action="/forum/{{subject.title}}/message/ajouter">
				<input id="message" type="text" name="message" size="15" required/></br>
				<input style="display: none" type="submit" hidden>
		</form>
	</div>
</div>
{% endblock content %}
