{% extends "layout.html" %}

{% block style %}
<link href="/assets/css/forum-subject.css" rel="stylesheet">
<link href="/assets/css/forum.css" rel="stylesheet">
{% endblock style %}

{% block content %}
<div class="container">
	<h1 id="title">{{subject.title}}</h1>
	<hr>

	<div class="message-container">
		{% for message in messages %}
		<div class="message">
			<b>{{message.user.firstname}} {{message.user.lastname}}</b>
			<small>{{message.created}}</small>
			<br/>
			<div class="message-line">
			<img class="urlavatar" src="{{message.user.urlavatar}}"></img>
			<p>{{message.message}}</p>
			</div>
		</div>
		<br/>
		{% endfor %}
		<form id="message-form" method="post" action="/forum/{{subject.title}}/message/ajouter">
			<div class="message-container">
				<b>{{user.firstname}} {{user.lastname}}</b>
				<div class="message-line">
					<img class="urlavatar" src="{{user.urlavatar}}"></img>
					<input id="message" type="text" name="message" size="15" required/></br/>
					<input class="button" type="submit" value="Envoyer">
				</div>
			</div>
		</form>
	</div>

	<hr>
	<h3>Description:</h3>
	<div style="margin: 2%">
		<h4 id="description">{{subject.description}}</h4>
	</div>
	<p id="meta">Auteur: {{subject.user.firstname}} {{subject.user.lastname}} le {{subject.created}} et modifié le {{subject.updated}}</p>
	<br/><br/>
</div>
{% endblock content %}
