{% extends "layout.html" %}

{% block style %}
<link href="/assets/css/forum.css" rel="stylesheet">
{% endblock style %}

{% block content %}


<table>
    <tr>
        <th>Sujet</th>
        <th>Auteur</th>
        <th>Vues</th>
        <th>Dernier message</th>
        <th>Date création</th>
    </tr>

		{% for subject in subjects %}
    <tr>
        <th>{{subject.title}}<hr>{{subject.description}}</th>
        <th>{{subject.user.firstname}} {{subject.user.lastname}}</th>
        <th>{{subject.views}}</th>
        <th>{{subject.updated}}</th>
        <th>{{subject.created}}</th>
    </tr>
		{% endfor %}
</table>

{% endblock content %}
