<head>
    <meta charset="utf-8">
    <title>Brain Performer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <!-- <link rel="manifest" href="/site.webmanifest"> -->
    <link rel="apple-touch-icon" href="/assets/img/favicon.png">

    <!-- <link rel="stylesheet" href="/css/normalize.css"> -->
    <link rel="stylesheet" href="/assets/css/main.css">

    <meta name="theme-color" content="#fafafa">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</head>

<header class="header jumbotron">
    <a href="">
        <img src="" alt="Logo Brain Performer" title="Brain Performer">
    </a>
    <div class="header-right">
        <a href="">Accueil</a>
        <a href=""></a>
    </div>
</header>

