<!DOCTYPE html>
<html class="no-js" lang="fr">
<head>
  {% include 'header.html' %}
	<link href="/assets/css/index.css" rel="stylesheet">
</head>

<body>
	<div class="main">
			<div class="welcome">
				<div class="welcome-child">
					<h1>Brain Performer</h1>
					<hr>
					<h2>Your brain is the key</h2>
					<div class="welcome-down">
							<input type="text" placeholder="Rechercher">
					</div>
				</div>
			</div>
		{% include 'navbar/navbar.html' %}
		<div class="article-wrapper">
			<div class="article">
				<h3> Brain Performer vous aide à regagner en plasticité neuronale </h3>
				<hr>
				<p> <h4>Qu'est-ce que Brain Performer ?</h4>
					Brain performer est une plateforme innovante ayant pour but d'aider les personnes présentant des
					troubles psychotechniques importants. Si vous présentez des troubles de type dus à un accident ou
					une maladie, Brain Performer est fait pour vous.
				<h4>Notre méthode ?</h4>
					Brain Performer propose des exercices basés sur la réappropriation par reflexe et par reproduction, et est développé
					afin de permettre à votre médecin de suivre votre évolution, et de vous aider à avancer sur le chemin
					de la guérison.
				</p>
			</div>
		</div>
			<div class="articles">
					<div class="article-wrapper">
							<div class="article">
									<h3> Les fonctionnalités </h3>
									<hr>
								<h4>Les exercices</h4>
								<ul>
									<li>Temps de réaction sur bruit attendu et inattendu</li>
									<li>Temps de réaction sur lumière attendue et inattendue</li>
									<li>Reproduction de rythmes audios et visuels</li>
								</ul>
								<h4>Les analyses</h4>
								<ul>
									<li>Analyse des performances</li>
									<li>Analyse de la fréquence cardiaque</li>
									<li>Analayse de la température corporelle</li>
								</ul>
							</div>
					</div>

			</div>
	</div>
		{% include 'footer.html' %}
	</body>
</html>
