{% extends "layout.html" %}

{% block style %}
<link rel = "stylesheet" href = "/assets/css/legal_mentions.css"/>
{% endblock style %}

{% block content %}
	<section id="Mentions">
			<p id="text">Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l’économie numérique, il est précisé aux utilisateurs du site legalplace.fr l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi</p>
			<h2>Responsable de publication</h2>
				<p id="texte">Alexandre Bigot</p>
			<h2>Hébergeur</h2>
			<p id="text">Le site BrainPerformer est hébergé par la société Heroku </p>
			<h2>Nous contacter :</h2>
				<ul id="text">
					<li>Par email:{{mail}}</li>
				</ul>
			<p id="text">Conformément aux dispositions de la loi 78-17 du 6 janvier 1978 modifiée, l’Utilisateur dispose d’un droit d’accès, de modification et de suppression des informations collectées par LegalPlace. Pour exercer ce droit, il reviendra à l’Utilisateur d’envoyer un message à l’adresse suivante : {{mail}}</p>
	</section>
</body>
{% endblock content %}
