{% extends "layout.html" %}

{% block style %}
<link rel="stylesheet" href="/assets/css/myAccount.css">
{% endblock style %}

{% block content %}
<div class="user">
	<div class="info">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<div id="box">
			<div class="card">
				{% if USER.urlavatar %}
				<!-- Si l'utilisateur a un avatar -->
				<img src="{{USER.urlavatar}}" alt="{{USER.firstname}}" style="width:100%">
				{% else %}
				<!-- Si l'utilisateur n'a pas d'avatar -->
				<img src="https://img.icons8.com/fluent/344/user-male.png" alt="{{USER.firstname}}" style="width:100%">
				{% endif %}


				<h1>{{USER.sex ? "Madame" : "Monsieur"}} {{USER.firstname}} {{USER.lastname | upper}}</h1>

				<p>Age : {{USER.age}} ans</p>
				<p>Date de naissance : {{USER.birthdate}}</p>
				<p>Compte de {{USER.grade_name}} {{USER.public ? "public" : "privé"}}</p>


				<p>Mail associé :
					<span class="mail"> {{USER.mail}}</span>
				</p>
				<button onclick="window.location.href = '/modifierprofil/{{USER.id}}';">Modifier mon profil</button>
				<footer>
					<p>Crée le {{USER.created}}</p>
					<p>Modifié le {{USER.updated}}</p>
				</footer>
			</div>
		</div>	
	</div>


	</section>
</div>
{% endblock %}
