{% extends "layout.html" %}

{% block style %}
<link rel="stylesheet" href="/assets/css/myAccount.css">
{% endblock style %}

{% block content %}
<div class="pageprofil">
<div class="user">
	<div class="info">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<div id="box">
			<div class="card">
				{% if USER.urlavatar %}
					<!-- Si l'utilisateur a un avatar -->
					<img src="{{USER.urlavatar}}" alt="{{USER.firstname}}" style="width:100%">
				{% else %}
					<!-- Si l'utilisateur n'a pas d'avatar -->
					<img src="{{USER.sex ? AVATAR_FEMALE_PLACEHOLDER : AVATAR_MALE_PLACEHOLDER}}" alt="avatar de {{USER.firstname}}" style="width:100%">
				{% endif %}
				<h1>{{USER.sex ? "Madame" : "Monsieur"}} {{USER.firstname}} {{USER.lastname | upper}}</h1>

				<p>Age : {{USER.age}} ans</p>
				<p>Date de naissance : {{USER.birthdate}}</p>
				<p>Compte de {{USER.grade_name}} {{USER.public ? "public" : "privé"}}</p>


				<p>Mail associé :
					<span class="mail"> {{USER.mail}}</span>
				</p>
				<button onclick="window.location.href = '/profil/{{USER.id}}/modifier';">Modifier mon profil</button>
				<footer>
					<p>Crée le {{USER.created}}</p>
					<p>Modifié le {{USER.updated}}</p>
				</footer>
			</div>
		</div>
	</div>
</div>
<div class="textprofil"><h3> Bienvenue sur votre page de profil. </h3>

	<hr>
	<br>
	<br>
	<p> <h4>Que pouvez-vous consulter ?</h4>
	Sur votre page de profil vous pouvez consulter vos informations personelles comme votre âge, votre
	date de naissance, le type de votre compte, le mail associé à votre compte, ainsi que sa date de création et sa dernière date de modification.
	<br>
	<br>
	<br>
	<h4>Que pouvez-vous modifier ?</h4>
	En choisissant de modifier votre profil, vous pouvez changer votre nom,votre prénom, votre date de naissance,votre sexe, votre mail
	et votre mot de passe. Vous pouvez également modifier votre choix fait lors de la création de votre compte
	: que votre compte et vos exercices soient montrés publiquement.

	</p></div>
</div>
{% endblock %}
