<nav id="navbar">
	<ul id="menu-demo2">
		<li class="li-text"><a href="/">⇃ Accueil ⇂ </a>
			<ul>
				<li class="li-text"><a href="#">Présentation de l'équipe</a></li>
				<li class="li-text"><a href="#">Notre projet</a></li>
				<li class="li-text"><a href="/faq">FAQ</a></li>
			</ul>
		</li>
		<li class="li-text"><a href="/exercices">Exercices</a></li>
		<li class="li-text"><a href="/contact">Contact</a></li>
		<li id="li-logo">
			<a id="a-logo" href="/">
				<img id="img-logo" src="/assets/img/logo.png" alt="logo">
			</a>
		</li>
		<li class="li-text"><a href="/connexion">Connexion</a></li>
		<li class="li-text"><a href="/inscription">Inscription</a></li>
		<li class="li-text"><a href="/incident">Incident</a></li>
	</ul>
</nav>
