<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<link type="text/css" rel="stylesheet" href="stylesheet2.css" media="all" />
        <title>Barre de navigation</title>
    </head>

    <nav>
    	<ul>
			<ul id="menu-deroulant" class="conteneur">
				<li class="element"><a href="#">Accueil</a>
					<ul>
						<li><a href="#">L'appareil</a></li>
						<li><a href="#">Nos Offres</a></li>
						<li><a href="#">La fine d'équipe</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</li>
				<li class="element"><a href="#">Se connecter</a>
				</li>
				<li class="element"><a href="#">S'inscrire</a>
				</li>
			</ul>
		</ul>
    </nav>