{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/assets/css/connection.css" />
<div class="signup">
    <form action="">
        <div class="container">
            <h1>Inscription</h1>

            <hr>

            <label for="email"><b>Mail : </b><input type="text" placeholder="Enter Email" id="email" required></label>
            <label for="password"><b>Mot de passe : </b><input type="password" placeholder="Enter Password" id="password" required></label>
            <label for="password-repeat"><b>Répétez votre mot de passe : </b><input type="password" placeholder="Repeat Password" id="password-repeat" required></label>
            <label for="bp-key"><b>Entrez votre clée BrainPerformer : </b><input type="text" placeholder="" id="bp-key" required></label>


            <label>
                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Se souvenir de moi
            </label>

            <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

            <div class="clearfix">
                <button type="submit" class="signupbtn">Sign Up</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
