{% extends "layout.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/assets/css/search.css" /><!-- TODO améliorer css -->
{% endblock style %}

{% block script %}
<script>USERS_JSON={{json|raw}}</script>
<script src="/assets/js/search.js"></script>
{% endblock script %}

{% block content %}

<label for="search-input">Rechercher :</label>
<input type="text" name="search-input" maxlength="100" placeholder="Faites une recherche" id="search-input" value="">

<div> <!--La div des filtres-->
<label for="statut-filter">Filtrer par rapport au statut :</label>
<select name="statut-filter" id="statut-filter">
    <option value="-1">Pas de filtre selon le statut</option>
    <option value="0">filtrez les patients</option>
    <option value="1">filtres les médecins</option>
    <!--<option value="2">Gestionnaire</option>
    <option value="3">Administrateur</option>-->
</select>

<label for="sex-filter">Filtrer par rapport au sexe :</label>
<select name="sex-filter" id="sex-filter">
    <option value="-1">Pas de filtre selon le sexe</option>
    <option value="0">filtrez les hommes</option>
    <option value="1">filtrez les femmes</option>
</select>
<div>
    <span>Afficher les utilisateurs ayant un âge compris entre <input type="number" id="minage-filter" min="5" max="150" step="1" value=""> et <input type="number" id="maxage-filter" min="5" max="150" step="1" value=""></span>
</div>


</div>


<table id="main-table">
    <tr>
        <th>Avatar</th>
        <th>Nom</th>
        <th>Mail</th>
        <th>Date de naissance</th>
        <th>Âge</th>
        <th>Titre</th>
        <th>Date de création</th>
        <th>Date de mise à jour</th>
    </tr>

    {% for user in users %}
        <tr id="user-{{user.id}}">
            <td>
                <a href="/profil/{{user.id}}">
                    {% if user.urlavatar %}
                        <img src="{{user.urlavatar}}" class="avatar" alt="avatar de {{user.firstname}} {{user.lastname|upper}}">
                    {% else %}
                    <!-- Si l'utilisateur n'a pas d'avatar -->
                    <img src="{{user.sex ? AVATAR_FEMALE_PLACEHOLDER : AVATAR_MALE_PLACEHOLDER}}" class="avatar" alt="avatar de {{user.firstname}} {{user.lastname|upper}}">
                    {% endif %}
                </a>
            </td>
            <td><a href="/profil/{{user.id}}">{{user.sex ? "Mme." : "M."}} {{user.firstname}} {{user.lastname |upper }}</a></td>
            <td><a class="mail" href="mailto:{{user.mail}}">{{user.mail}}</a></td>
            <td>{{user.birthdate}}</td>
            <td>{{user.age}} ans</td>
            <td>{{user.grade_name}}</td>
            <td>{{user.created}}</td>
            <td>{{user.updated}}</td>
        </tr>
    {% endfor %}

</table>



{% endblock %}
