{% extends "layout.html" %}

{% block style %}
<link rel = "stylesheet" href = "/assets/css/userListAdmin.css"/>
{% endblock style %}

{% block content %}

<table>
    <tr>
        <th>ID</th>
        <th>Bannir</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Sexe</th>
        <th>Mail</th>
        <th>Date de naissance</th>
        <th>Langue</th>
        <th>Jeton</th>
        <th>Avatar</th>
        <th>Grade</th>
        <th>Date de création</th>
        <th>Date de mise à jour</th>
    </tr>

    {% for user in users %}
    <form method="post" action="/admin/gestion-utilisateurs-actualiser">
        <tr>
            <td>{{user.id}}</td>
            <td><a href="/admin/gestion-utilisateurs/supprimer/{{user.id}}"><input type="button" id="ban" name="Bannir" value="Supprimer"/></a></td>
            <td><input class=no-border type="text" name="message" value={{user.firstname}} size="15"/></td>
            <td><input class=no-border type="text" name="message" value={{user.lastname}} size="20"/></td>
            <td>
                <select name="sex">
                    <option value={{user.sex}} selected>{{ user.sex ? 'Femme' : 'Homme' }}</option>
                    <option value={{ user.sex ? 'Homme' : 'Femme' }} > {{ user.sex ? 'Homme' : 'Femme' }}</option>
                </select>
            </td>
            <td><input class=no-border type="email" name="message" value={{user.mail}} size="30"/></td>
            <td><input class=no-border type="text" name="message" value={{user.birthdate}} size="10"/></td>
            <td><input class=no-border type="text" name="message" value={{user.language}} size="3"/></td>
            <td><input class=no-border type="text" name="message" size="20" value={{user.token}} ></td>
            <td><input class=no-border type="text" name="message" size="20" value={{user.urlavatar}} ></td>
            <!-- <td><input class=no-border type="text" name="message" size="1" value={{user.grade}} ></td> -->
            <td>
                <select name="grade" required>
                    <option value="0" {{ user.grade=="0" ? "selected" : "" }} >Patient</option>
                    <option value="1" {{ user.grade=="1" ? "selected" : "" }} >Médecin</option>
                    <option value="2" {{ user.grade=="2" ? "selected" : "" }} >Gestionnaire</option>
                    <option value="3" {{ user.grade=="3" ? "selected" : "" }} >Administrateur</option>
                </select>
            </td>
            <td>{{user.created}}</td>
            <td>{{user.updated}}</td>
        </tr>
    </form>
    {% endfor %}

</table>

    <input class="valid" type="button" type="submit" value="Valider">


<form method="post" action="/admin/gestion-utilisateurs-ajouter">
    <!--
    on met ici le champ vide pour pouvoir ajouter des utilisateurs
     -->
    <table>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Sexe</th>
            <th>Mail</th>
            <th>Date de naissance</th>
            <th>Langue</th>
            <th>Mot de passe</th>
            <th>Jeton</th>
            <th>Avatar</th>
            <th>Grade</th>
        </tr>
        <td><input class=no-border id="firstname" type="text" name="firstname" size="15" required/></td>
        <td><input class=no-border id="lastname" type="text" name="lastname" size="20" required/></td>
        <td>
            <select name="sex" id="sex" required>
                <option value="0" selected>Homme</option>
                <option value="1">Femme</option>
            </select>
        </td>
        <td><input class=no-border id="mail" type="email" name="mail" size="30" required/></td>
        <td><input class=no-border id="birthdate" type="date" name="birthdate" required/></td>
        <td>
            <select name="language" id="language" required>
                <option value="fr">Français</option>
                <option value="en">Anglais</option>
            </select>
        </td>
        <td><input class=no-border id="password" type="text" name="password" size="20" required/></td>
        <td><input class=no-border id="token" type="text" name="token" size="20" /></td>
        <td><input class=no-border id="urlavatar" type="text" name="urlavatar" size="20" /></td>
        <td>
            <select name="grade" id="grade" required>
                <option value="0">Patient</option>
                <option value="1">Médecin</option>
                <option value="2">Gestionnaire</option>
                <option value="3">Administrateur</option>
            </select>
        </td>
    </table>
<input type="submit" class="valid" name="add-count" value="Ajouter le compte">
</form>

{% endblock content %}
