{% extends "layout.html" %}

{% block content %}
<script src="/assets/js/manageFaq.js"></script>
<link rel="stylesheet" href="/assets/css/manageFaq.css"/>
<div id="bloc-page" class="main">

    <div class="faq-section">
        <h1>Foire Aux Questions</h1>
        <form action="" method="post">
        {% for question in faq %}
        <div class="question" id="div{{question.id}}">

            <label for="q{{question.id}}">Question :</label>
            <input type="text" name="q{{question.id}}" placeholder="question" id="q{{question.id}}" value="{{question.question}}" required>

            <label for="a{{question.id}}">Réponse :</label>
            <textarea id="a{{question.id}}" name="a{{question.id}}" rows="5" cols="35" required>{{question.answer}}</textarea>

            <input type="hidden" name="r{{question.id}}" id="r{{question.id}}" value="no" title="r{{question.id}}">

            <button type="button" class="button" onclick="deleteQuestion({{question.id}})">Supprimer</button>
            <p>

        </div>
        {% endfor %}

            <button type="submit"  class="button">Sauvegarder</button>
        </form>
        <form action="" method="post">
        <h2>Ajouter une question</h2>
        <label for="q_add">Question :</label>
        <input type="text" name="q_add" placeholder="Entrez une question" id="q_add" required>

        <label for="a_add">Réponse :</label>
        <textarea id="a_add" name="a_add" placeholder="Entrez sa réponse" required></textarea>

        <button type="submit"  class="button">Ajouter la question</button>
        </form>


    </div>
</div>

{% endblock %}
