{% extends "layout.html" %}

{% block style %}
<link rel = "stylesheet" href = "/assets/css/patients.css"/>
{% endblock style %}

{% block content %}

<table id="main-table">
    <tr>
        <th>Avatar</th>
        <th>Nom</th>
        <th>Mail</th>
        <th>Date de naissance</th>
        <th>Âge</th>
        <th>Date de création</th>
        <th>Date de mise à jour</th>
    </tr>

    {% for user in users %}
    <tr id="user-{{user.id}}">
        <td>
            <a href="/profil/{{user.id}}">
                {% if user.urlavatar %}
                <img src="{{user.urlavatar}}" class="avatar" alt="avatar de {{user.firstname}} {{user.lastname|upper}}">
                {% else %}
                <!-- Si l'utilisateur n'a pas d'avatar -->
                <img src="{{user.sex ? AVATAR_FEMALE_PLACEHOLDER : AVATAR_MALE_PLACEHOLDER}}" class="avatar" alt="avatar de {{user.firstname}} {{user.lastname|upper}}">
                {% endif %}
            </a>
        </td>
        <td><a href="/profil/{{user.id}}">{{user.sex ? "Mme." : "M."}} {{user.firstname}} {{user.lastname |upper }}</a></td>
        <td><a class="mail" href="mailto:{{user.mail}}">{{user.mail}}</a></td>
        <td>{{user.birthdate}}</td>
        <td>{{user.age}} ans</td>
        <td>{{user.created}}</td>
        <td>{{user.updated}}</td>
    </tr>
    {% endfor %}

</table>


{% endblock content %}
